body{
    background-color: aliceblue;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40; /* Misma apariencia */
    color: white;
    text-align: center;
    padding: 10px;
}
